        
<li id= "<%= dom_id(task) %>" class="list-group-item">

  <%= task.content %>

  <div class="row">
    <div class="col-md-4">
      <div class="d-grid gap-2">
        <%= link_to "#", class: "btn btn-link btn-sm" do %>
          <i class="far fa-check-circle"></i>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="d-grid gap-2">
        <%= link_to edit_task_path(task), class: "btn btn-link btn-sm", remote: true do %>
          <i class="fas fa-edit fa-fw"></i>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="d-grid gap-2">
        <%= link_to task, method: :delete, class: "btn btn-link btn-sm", remote: true do %>
          <i class="fas fa-trash fa-fw"></i>
        <% end %>
      </div>
    </div>
  </div>

</li>
